page-login {
    .logo{
        text-align: center;

    }
    .title{
        padding-top: 55px;
        padding-bottom:43px; 
    }
    .button-div{
        padding-top: 24px; 
    }
    .input-label
    {
        font-size:14px;
        padding-left:18px;
        padding-bottom:11px;  
    }
}
