<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="main-view">
  <div class="logo">
    <img src="../../assets/imgs/federal-bank-logo-HD@2x.png">
  </div>
  <div class="title">
    <h1>Cheque verification system</h1>
  </div>
  <ion-label color="secondary" class="input-label">Enter Mobile Number</ion-label>
  <div class="inputbox">
    <ion-input type = "text" placeholder="Enter Mobile Number" icon-start><ion-icon ios="ios-call" md="md-call"></ion-icon></ion-input>
  </div>
  <div class="button-div">
    <button ion-button block class="login-button" color="secondary" (click)="confirmOTP()">Next</button>
  </div>
  </ion-content>
