<!--
  Generated template for the AddTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="navbar">
      <ion-title>
        FED Cheque
      </ion-title>
    </ion-navbar>
    <ion-title class="title-container">
      <h3>Enter the details to add a cheque</h3>
    </ion-title>
</ion-header>

<ion-content padding>
  <form>
      <ion-item>
          <ion-label color="primary" floating>Payee's name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Payee's account no.</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Payee's IFSC code</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Cheque no.</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Amount</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

        <div class="submit-button">
          <button ion-button block class="submit" color="secondary" (click)="submit()">Submit</button>
        </div>
  </form>
</ion-content>
