<!--
  Generated template for the CaptureChequePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FED Cheque</ion-title>
  </ion-navbar>
  <ion-title class="title-container">
      <h3>Capture a photo of the cheque.</h3>
    </ion-title>
</ion-header>


<ion-content padding>
  <div class="img-container">
    <img [src]="image" alt="Cheque Image">
  </div>
    <div class="submit-button">
        <button ion-button block class="submit" color="secondary" (click)="submit()">Submit</button>
      </div>
</ion-content>
