page-capture-cheque {
    .title-container
    {
        background-color: #F5F5F5;
        height:64px;
        h3{
            color:#F9A61A;
            text-align: center;
            font-size: 14px;
        }
    }
    .submit-button{
        padding-top: 27.5px;
        .submit{
            border-radius: 25px;
            height: 46px;
        }
    }
}
