<ion-header>

  <ion-toolbar class="myToolbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-color"></ion-icon>
    </button>
    <ion-title>
      POC
    </ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar no-border-top color="primary"> -->
  <ion-segment [(ngModel)]="choose">
      <ion-segment-button value="Sent">
        Sent
      </ion-segment-button>
      <ion-segment-button value="Received">
        Received
      </ion-segment-button>
    </ion-segment>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content [(ngSwitch)]="choose">

    <ion-fab right bottom>
        <button class="addbutton" ion-fab (click)="addCheque()">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
    </ion-fab>
    <div *ngSwitchCase="'Sent'">
    <ion-card *ngFor="let payee of products; let i = index">
        <button ion-card-content (click)="expend(i)" class="card">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <p class="left-text">
                    Name <br>
                    Account no <br>
                    Issues date <br>
                    Due date<br>
                  </p>
                </ion-col>
                <ion-col col-6>
                  <p class="right-text">
                    {{payee.name}}<br>
                    {{payee.accountno}}<br>
                    {{payee.issuesdate}}<br>
                    {{payee.duedate}}<br>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
        </button>
        <div *ngIf="payee.children && payee.open">
          <ion-grid>
            <ion-row class="child">
              <ion-col col-6>
                  <p class="left-text">
                      IFSC code <br>
                      Bank name <br>
                      Amount <br>
                    </p>
              </ion-col>
              <ion-col col-6>
                  <p class="right-text">
                      {{payee.children[0].ifsccode}}<br>
                      {{payee.children[0].bankname}}<br>
                      {{payee.children[0].amount}}<br>
                    </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div style="text-align: left;padding-bottom: 5px">
            <button icon-start class="text-button" ><ion-icon class="verify-icon-color" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>Verified by payee</button>
          </div>
    </ion-card>
    </div>
    <div *ngSwitchCase="'Received'">
      <ion-card *ngFor="let received of received; let i = index">
          <button ion-card-content (click)="received_expend(i)" class="card">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                    <p class="left-text">
                        Name <br>
                        Account no <br>
                        Issues date <br>
                        Due date<br>
                      </p>
                </ion-col>
                <ion-col col-6>
                    <p class="right-text">
                        {{received.name}}<br>
                        {{received.accountno}}<br>
                        {{received.issuesdate}}<br>
                        {{received.duedate}}<br>
                      </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </button>
          <div *ngIf="received.children && received.open">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                    <p class="left-text">
                        IFSC code <br>
                        Bank name <br>
                        Amount <br>
                      </p>
                </ion-col>
                <ion-col col-6>
                    <p class="right-text">
                        {{received.children[0].ifsccode}}<br>
                        {{received.children[0].bankname}}<br>
                        {{received.children[0].amount}}<br>
                      </p>
                </ion-col>
              </ion-row>
            </ion-grid>        
          </div>
          <div style="text-align: left;padding-bottom: 5px">
              <button class="verify-button" >Verify now</button>
            </div>
      </ion-card>
    </div>
</ion-content>
