page-home {
    .icon-color{
        color:#F9A61A;
    }
    .segment{
        background-color:#F9A61A;
    }
    .segment-button{
        color: white;
    }
    .card
    {
        
        background-color: white;
        width: 100%;
        transition-duration: 0.4s;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 3px;
        .left-text
        {
            text-align: left;
        }
        .right-text
        {
            text-align: right;
        }
        .text-button
        {
            background: transparent;
            color: #5CFF50;
            .icon-verify-color{
                color:#5CFF50;
            }
            
        }
        .verify-button{
            background: transparent;
            color: #004E93;
        }
        .child
        {
            padding: 5px;
            margin-top:-25px;
        }
    }
}
