page-confirm-otp {
    .logo{
        text-align: center;

    }
    .title{
        padding-top: 55px;
        padding-bottom:43px; 
    }
    .button-div{
        padding-top: 24px; 
    }
    .input-label
    {
        font-size:14px;
        padding-left:18px;
        padding-bottom:11px;  
    }
    .otp-input{
        text-align: center;
        padding-left: 13px;
        .otp {
            color: white;
            border-style: none;
            width: 60px;
            height: 60px;
            font-size: 30px;
            border-bottom: 2px solid white;
            padding-left: 22px;
        }
    }
    .bottom-div{
        padding-top: 41px;
            .text-button{
                background: transparent;
                color: #ffffff;
                font-size: 14px;
            }
            .resend-otp{
                text-align: left;
            }
            .change-number{
                text-align: right;
            }
    }
}
