

<ion-content padding class="main-view">
  <div class="logo">
    <img src="../../assets/imgs/federal-bank-logo-HD@2x.png">
  </div>
  <div class="title">
    <h1>Cheque verification system</h1>
  </div>
  <ion-label color="secondary" class="input-label">Enter OTP</ion-label>
  <!-- <div class="inputbox">
    <ion-input type = "text" placeholder="Enter Mobile Number" icon-start><ion-icon ios="ios-call" md="md-call"></ion-icon></ion-input>
  </div> -->
  <div class="otp-input">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-input type="text" #otp1 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" (keyup)="next(otp2)">
          </ion-input>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" #otp2 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" (keyup)="next(otp3)">
          </ion-input>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" #otp3 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" (keyup)="next(otp4)">
          </ion-input>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" #otp4 class="otp" pattern="[0-9]{6}" maxlength="1" size="1">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="button-div">
    <button ion-button block class="login-button" color="secondary" (click)="confirm()">Confirm OTP</button>
  </div>
  <ion-grid class="bottom-div">
    <ion-row>
      <ion-col col-6>
        <div class="resend-otp">

              <ion-col col-6>
                  <button ion-button class="text-button">Resend OTP ?</button>
              </ion-col>
              <ion-col col-6>
                
              </ion-col>
  
            
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="change-number">
          <button ion-button class="text-button">Wrong Number ?</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>