// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('../assets/fonts/Gotham\ Medium\ Regular.ttf');

*{
    font-family: Gotham Medium;
}

.myToolbar{
    min-height: 10px;
}

.main-view{
    background-color: #004E93;
    color: #ffffff;
    .title{
        text-align: center;
        h1{
            font-size: 27pt;
        }
    }
    .inputbox
    {
        border-radius:25px;
        height:46px;
        width:100%;
        color: #004E93;
        background: white;
        padding-left: 60px;
        font-size: 14px;
    }
    .login-button{
        text-align: center;
        font-size:14px;
        border-radius: 25px;
        height: 46px;
    }
    .title-container
    {
        background-color: #F5F5F5;
        height:64px;
        h3{
            color:#F9A61A;
            text-align: center;
            font-size: 14px;
        }
    }
}