<!--
  Generated template for the WelcomepagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

  <ion-toolbar color = toolbar class="myToolbar">
    <ion-title></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div style="text-align:center">
    <div class="img-container">
      <img class="user-icon" src="../../assets/imgs/avatar.png">
    </div>
    <h3 class="welcome-text-header">Welcome User</h3>
    <p class="welcome-text">You can now verify each cheque written in your name and enter the details of a cheque send to someone else.</p>
  </div>
  <ion-fab bottom right>
    <button ion-button class="next-button" color = secondary icon-end (click)="next()">Next<ion-icon name="ios-arrow-forward-outline"></ion-icon> </button>
  </ion-fab>
</ion-content>
