page-welcomepage {
        .next-button{
            width:110px;
            height: 46px;
            font-size:14px;
            border-radius: 25px;
        }
    
    .welcome-text-header{
        color: #004E93;
        font-size: 18px;
        // padding-bottom: 41px;
    }
    .welcome-text{
        color: #004E93;
        font-size: 14px;
        padding:40px; 
    }
    .img-container{
        text-align:center;
        padding-top: 123px;
        padding-bottom: 41px;
        .user-icon{
            height: 158px;
            width:158px;
        }
}
}

